# Python
__pycache__/
*.pyc

# Virtual environments
.env/
venv/
myenv/

# Pipeline outputs
holocene/
products/
consensus/
products_cycled/

# Large data
*.bam
*.bai
*.mmi

# OS junk
.DS_Store
Thumbs.db

#junk
metagenomic_generator/

